.callbackBtn {
  padding: 11px 65px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  background-color: $orange;
  border: 3px solid $orange;
  border-radius: 8px; 
  margin-bottom: 50px;
  transition: all 0.3s ease;
  &:hover {
    color: $orange;
    background-color: rgba($orange, $alpha: 0);
    transition: all 0.2s ease;
  }
  &:focus {
    outline: none;
  box-shadow: 0 0 0 3px rgba($orange, $alpha: .45);
  }
}