@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 997;
}

.header .menuAndLogo {
  z-index: 999;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  -webkit-box-shadow: 3px 3px 8px rgba(184, 184, 184, 0.21);
          box-shadow: 3px 3px 8px rgba(184, 184, 184, 0.21);
}

.header .menuAndLogo .menu-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 22px;
  padding: 6px;
}

.header .menuAndLogo .menu-btn span {
  display: block;
  height: 4px;
  width: 18px;
  background-color: #200d01;
  margin-bottom: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header .menuAndLogo .menu-btn span:nth-child(2) {
  width: 12px;
}

.header .menuAndLogo .active span {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header .menuAndLogo .active span:first-child {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.header .menuAndLogo .active span:nth-child(2) {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}

.header .menuAndLogo .active span:last-child {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}

.header .menuAndLogo .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: fixed;
}

.header .menuAndLogo .invs {
  display: block;
  margin-left: auto;
  background-color: #fff;
  width: 300px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.header .phones {
  padding: 15px 13px;
  background-color: rgba(16, 45, 72, 0.85);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .phones .phones__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .phones .phones__number img {
  margin-right: 10px;
}

.header .desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header .menuAndLogo {
    padding-bottom: 35px;
  }
  .header .menuAndLogo .menu-btn {
    display: none;
  }
  .header .menuAndLogo .logo {
    width: 155px;
  }
  .header .phones {
    display: none;
  }
  .header .desktop {
    padding-top: 20px;
    background-color: #102D48;
    color: #fff;
    display: block;
  }
  .header .desktop .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }
  .header .desktop .location .phones {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .desktop .location .phones .phones__number:first-child {
    margin-right: 15px;
  }
  .header .desktop .location .city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .desktop .location .city .city__img {
    margin-right: 10px;
  }
  .header .desktop .location .schedule .schedule__item {
    margin-right: 10px;
  }
  .header .desktop .location .schedule .schedule__item:last-child {
    margin-right: 0;
  }
  .header .desktop .desktopNav {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .desktop .desktopNav .desktopNav__link {
    cursor: pointer;
    padding: 15px 20px;
    margin-right: 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
  }
  .header .desktop .desktopNav .desktopNav__link:hover {
    background-color: #873803;
    border-radius: 3px;
  }
  .header .desktop .desktopNav .desktopNav__link--active {
    background-color: #873803;
    border-radius: 3px;
  }
  .header .desktop .desktopNav .dropdown {
    position: relative;
  }
  .header .desktop .desktopNav .dropdown .dropdown__title {
    cursor: pointer;
    padding: 15px 12px;
    margin-right: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }
  .header .desktop .desktopNav .dropdown .dropdown__content {
    -webkit-box-shadow: 0px 4px 12px rgba(122, 129, 136, 0.17);
            box-shadow: 0px 4px 12px rgba(122, 129, 136, 0.17);
    display: none;
    width: 123%;
    padding: 12px 9px;
    padding-bottom: 15px;
    position: absolute;
    background: #fff;
    border-radius: 3px;
  }
  .header .desktop .desktopNav .dropdown .dropdown__content .dropdown__content__link {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 9px 17px;
    border-radius: 2px;
  }
  .header .desktop .desktopNav .dropdown .dropdown__content .dropdown__content__link:hover {
    background-color: #FFECDF;
    color: #A04204;
  }
  .header .desktop .desktopNav .dropdown .dropdown__content .dropdown__content__link--blue {
    cursor: default;
    text-decoration: none;
    display: block;
    color: #276eb0;
    padding: 9px 17px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .desktop .desktopNav .dropdown .dropdown__content .dropdown__content__link--blue::before, .header .desktop .desktopNav .dropdown .dropdown__content .dropdown__content__link--blue::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #276eb0;
    display: block;
  }
  .header .desktop .desktopNav .dropdown .dropdown__content .dropdown__content__link--blue:hover {
    background-color: #fff;
    color: #102D48;
  }
  .header .desktop .desktopNav .dropdown::after {
    position: absolute;
    content: "▼";
    top: 12px;
    left: 86%;
  }
  .header .desktop .desktopNav .dropdown:hover .dropdown__content {
    display: block;
  }
}

.burger {
  top: 57px;
  position: absolute;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  width: 100%;
  left: -100%;
  -webkit-transition: left .1s ease;
  transition: left .1s ease;
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger #nav {
  padding: 20px;
}

.burger #nav .menu {
  padding: 0;
}

.burger #nav .menu .menu__item {
  position: relative;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  margin-bottom: 16px;
  font-weight: 600;
}

.burger #nav .menu .menu__item::before {
  margin-right: 5px;
  content: '▶ ';
  font-size: 90%;
  color: #102D48;
}

.burger #nav .menu .menu__item.open::before {
  content: '▼ ';
  margin-right: 5px;
}

.burger #nav .menu .submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  padding-left: 15px;
  margin-top: 20px;
}

.burger #nav .menu .submenu .submenu__item {
  margin-bottom: 16px;
  font-weight: 500;
}

.burger #nav a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-bottom: 16px;
}

.burger .locationAndGraphic {
  bottom: 0;
  padding: 20px 30px;
  background-color: rgba(16, 45, 72, 0.8);
}

.burger .locationAndGraphic span {
  display: block;
  color: #fff;
  margin-bottom: 8px;
}

.burger .locationAndGraphic .addr {
  margin-bottom: 25px;
}

.burger .locationAndGraphic .addr span:first-child {
  font-weight: bold;
}

.activeMenu {
  -webkit-transition: left .1s ease;
  transition: left .1s ease;
  left: 0;
}

.footer {
  background-color: #A04204;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.footer a {
  text-decoration: none;
}

.footer a svg {
  fill: white;
}

.footer a svg:hover {
  fill: #3c1902;
}

html {
  overflow-x: hidden;
}

.why {
  padding-top: 100px;
}

.gallery {
  overflow-x: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 78% 100%;
      grid-template-columns: 78% 100%;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
}

.gallery img:nth-child(2n) {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .why {
    padding-top: 220px;
    margin-bottom: 30px;
  }
  .why .title {
    font-size: 30px;
  }
  .why .text {
    font-size: 18px;
    line-height: 24px;
  }
  .gallery {
    overflow-x: hidden;
    -ms-grid-columns: 30% 20% 30% 24%;
        grid-template-columns: 30% 20% 30% 24%;
  }
  .gallery img {
    height: 320px;
  }
}
/*# sourceMappingURL=about.css.map */